# Python
.env
.env.*
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.build
.eggs/
.pytest_cache/
.coverage
.htmlcov
.tox/
.nosexy
.noseids
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.dmypy.json
dmypy.json

# LocalStack
.localstack/

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
